header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5em;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto; 
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover, .nav-links li a.active {
    background-color: #007bff;
    color: #fff;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
        align-self: center; /* Center logo for mobile view */
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }

    .nav-links li a {
        display: block;
        width: 100%;
    }
    /* Implement a toggle button for mobile screens */
}


@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide nav links on smaller screens, show menu button instead */
        /* Implement a toggle button for mobile screens */
    }
}


.profile-pic {
    width: 400px; 
    height: 400px;
    border-radius: 50%; 
    border: 5px solid;
    border-color: #007bff;
    object-fit: cover; 
    margin-right: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    max-width: 500px;
}

.header-text p {
    margin: 5px 0;
}

.header-text h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

.header-buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
}

#about-me {
    background-color: #f5f5f5; /* Light grey background */
    padding: 40px 0;
    text-align: center;
}

#about-me .container {
    max-width: 60%; 
    margin: auto; 
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #dee2e6; 
    border-radius: 15px; 
}

#about-me h2 {
    color: #333; 
    margin-bottom: 20px; 
}

#about-me p {
    color: #666; 
    line-height: 1.6; 
    margin-bottom: 15px; 
}

@media screen and (max-width: 768px) {
    #about-me .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    #about-me .container {
        max-width: 95%;
    }
}

#courses-taught {
    background-color: #fff; 
    padding: 40px 0;
    text-align: center;
}

#courses-taught .container {
    max-width: 60%; 
    margin: auto; 
    padding: 20px;
    border: 3px solid #dee2e6; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#courses-taught h2 {
    color: #333; 
    margin-bottom: 20px; 
}

#courses-taught .course-list {
    list-style: none; 
    padding: 0;
    margin: 0;
}

#courses-taught .course-list li {
    background-color: #f5f5f5; 
    margin-bottom: 10px; 
    padding: 15px;
    border-radius: 10px; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05); 
    color: #666; 
    line-height: 1.6; 
}


@media screen and (max-width: 768px) {
    #courses-taught .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    #courses-taught .container {
        max-width: 95%;
    }
}

/*
#experience {
    background-color: #f0f0f0; 
    text-align: center;
    padding: 40px 0;
}

.experience-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    width: 400px; =
}

.card h3 {
    margin-top: 0;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    text-align: left;
}

.skills p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills span {
    margin-left: auto;
}

.checkmark-icon {
 
    width: 32px;
    height: 32px;
    background-image: url('assets/checkmark.png');
    background-size: cover;
    display: inline-block;
}

*/
section {
    padding: 20px;
    text-align: center;
}

#publications {
    text-align: center;
    padding: 40px 0;
    background-color: #f5f5f5; 
}

.publications-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
    justify-content: center;
    padding: 20px;
    margin: 0 auto; 
    max-width: 60%; 
}

.publication {
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Space below each publication */
    transition: transform 0.3s ease; 
    border: 3px solid #dee2e6; 
    border-radius: 10px;
    padding: 15px; 
}

.publication img {
    width: auto; 
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.publication-title {
    margin-top: 15px; 
    font-size: 1em; 
    color: #333; 
}

.publication:hover {
    transform: translateY(-5px); 
}
.publication-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .publications-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 480px) {
    .publications-grid {
        grid-template-columns: 1fr; 
    }
}


/*
#contactForm {
    max-width: 500px;
    margin: auto;
}

#contactForm input, #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
*/
footer {
    background: #f8f9fa;
    padding: 40px 0;
    text-align: center;
}

.contact-section p {
    margin: 0;
    color: #6c757d; 
}

.contact-section h2 {
    color: #000;
    margin: 10px 0 20px; 
}
/*
.contact-info {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px; 
    background: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 15px; 
}

.contact-info a {
    text-decoration: none;
    color: #007bff; 
    font-weight: bold; 
}
.email-link::before, .linkedin-link::before {
    display: inline-block;
    content: ''; 
    background-size: contain; 
    background-repeat: no-repeat;
}

.email-link::before {
    background-image: url('assets/email.png'); 
    height: 24px; 
}

.linkedin-link::before {
    background-image: url('assets/linkedin.png'); 
    width: 24px;
    height: 24px; 
}
*/